SyndicationService/Service References/RssDataServiceReference/RssDataService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/IziWatch.DBO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/IziWatch.DBO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfRssArticle">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RssArticle" nillable="true" type="tns:RssArticle" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRssArticle" nillable="true" type="tns:ArrayOfRssArticle" />
  <xs:complexType name="RssArticle">
    <xs:sequence>
      <xs:element minOccurs="0" name="CategoryName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Comments" type="xs:int" />
      <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Image" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Likes" type="xs:int" />
      <xs:element minOccurs="0" name="Text" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Views" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RssArticle" nillable="true" type="tns:RssArticle" />
</xs:schema>