SyndicationService/Service References/RssDataServiceReference/RssDataService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:63166/Service/RssDataService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/IziWatch.DBO" />
  <xs:element name="GetListRssArticle">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListRssArticleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/IziWatch.DBO" minOccurs="0" name="GetListRssArticleResult" nillable="true" type="q1:ArrayOfRssArticle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>